<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div>
            <form method="POST" action="/" >
                <%= csrf_token_field %>
                <label>Operator 1</label>
                <input id="operator1" type="text" name="operator1"><br>
                <label>Operator 2</label>
                <input id="operator2" type="text" name="operator2"><br>
                <label>Operations:</label>
                <select id="operations" name="operations">
                    <option value="sum">sum</option>
                    <option value="subtract">sub</option>
                    <option value="average">average</option>
                </select><br>
                <input type="submit" value="="/>
            </form>
        </div>
        <div id="result">The result is: <%= @result %></div>
    </body>
</html>