<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div align="center">
            <h1>Calculator Kata4</h1>
            <form method="POST" action="/" >
                <%= csrf_token_field %>
                <label>Operator 1</label>
                <input id="operator1" type="text" name="operator1"><br>
                <select id="operations" name="operations">
                    <option value="sum">+</option>
                    <option value="subtract">-</option>
                    <option value="average">average</option>
                </select><br>
                <label>Operator 2</label>
                <input id="operator2" type="text" name="operator2"><br>
                <input type="submit" value="="/>
            </form>
        </div>
        <div align="center" id="result"> The result is: <%= @result %></div>
        <div align="center" id="memory"> Memory numbers of operations: <%= @memory %></div>
        
    </body>
</html>